.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  max-width: 1100px;
  padding: 92px 50px;
}

.header__menu {
  display: flex;
  gap: 32px;
  list-style: circle;
  font: 400 18px/22px Raleway, sans-serif;
}

.header__menu-item {
  padding-right: 1px;
  padding-bottom: 2px;
}

.header_image {
  width: 148px;
  height: 105px;
}

address {
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  width: 240px;
  height: 98px;
  justify-self: end;
}

.list-item_no-bullit {
  list-style-type: none;
}

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1;
  width: 100%;
  max-width: 1100px;
  min-height: 757px;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.cover__title {
  width: 100%;
  font: 700 100px/115px Raleway, sans-serif;
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
  letter-spacing: 30px;
  padding: 165px 0 0 50px;
}

.cover__title span {
  display: block;
}

.aligned-text {
  text-align: left;
  padding-bottom: 20px;
}

.aligned-text_center {
  text-align: center;
  padding-right: 20px;
  padding-bottom: 20px;
}

.aligned-text_right {
  text-align: end;
  padding-right: 20px;
  padding-bottom: 106px;
}

.cover__description {
  display: flex;
  font: 400 22px/28px Raleway, sans-serif;
  text-transform: uppercase;
  color: #ffffff;
}

.cover__description-text {
  align-self: center;
  padding-left: 50px;
  margin-right: 100px;
  word-spacing: 19.05px;
}

.bet-button {
  width: 256px;
  height: 51px;
  font-size: 22px;
  line-height: 28px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  border: 1px solid #ffffff;
  background-color: transparent;
}

.lots {
  position: relative;
  width: 1052px;
  height: auto;
  padding: 180px 0 120px 0;
  z-index: 1;
}

.lots__heading {
  font: 700 40px/47px Raleway, sans-serif;
  text-transform: uppercase;
  padding-left: 64px;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  overflow: visible;
  padding: 27px 0 0 24px;
}

.lots__card-list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 334px;
  min-height: 596px;
  padding: 48px 40px;
  list-style: none;
}

.lots__card-list-item article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card_type_film {
  position: relative;
  z-index: 2;
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  aspect-ratio: 334 / 596;
}

.card_type_book {
  position: relative;
  z-index: 2;
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card_type_picture {
  position: relative;
  z-index: 2;
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card__title {
  font: 700 22px/26.4px Raleway, sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: underline;
}

.card__text {
  font: 400 20px/24px Raleway, sans-serif;
  color: #ffffff;
}

.lots__look-more-link {
  display: inline-block;
  padding: 34px 0 0 64px;
  font: 400 20px/20px Raleway, sans-serif;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  padding-left: 24px;
  padding-right: 24px;
  gap: 25px;
  padding-top: 35px;
}

.about__logo {
  display: flex;
  align-items: start; /* по вертикали */
  justify-content: center; /* по горизонтали */
}

.about__logo-image {
  width: 142px;
  height: 112px;
}

.about__logo-background {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  border-radius: 50%;
  width: 240px;
  height: 240px;
}

.about__title {
  font: 700 40px/40px Raleway, sans-serif;
  text-transform: uppercase;
  margin: 105px 0 100px 0;
}

.about__text {
  display: inline-block;
  font: 400 20px/24px Raleway, sans-serif;
  word-break: keep-all;
  padding-right: 16px;
  letter-spacing: 0;
  max-width: 693px;
}

.about__text:first-child {
  padding-bottom: 25px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1100px;
  height: 180px;
  padding: 182px 50px 82px 50px;
}

.address:last-of-type {
  justify-self: start;
}

.footer__links-favicon-menu {
  display: flex;
  justify-self: end;
  gap: 48px;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  text-align: center;
  font: 400 18px/22px Raleway, sans-serif;
  padding: 0;
  margin: 0;
}

.footer__links-favicon-menu-item {
  width: 48px;
  height: 48px;
  gap: 48px;
}

